* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 20px;
}
.container {
    border: 2px solid #000;
    padding: 0px;
}

/* ---------- Header ---------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    display: flex;
    align-items: center;
    gap: 8px; /* space between logo & name */
}
nav{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #000;
}

/* ---------- Hero ---------- */
.hero{
    text-align: center;
    padding: 40px 0;
    border-bottom: 2px solid #000;
}

.hero h1{
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p{
    color: #555;
}

/* ---------- Main Section ---------- */
.main{
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    border-bottom: 2px solid #000;
}

.box {
  border-right: 2px solid #000;
  padding: 20px;
  margin: 1px;
}



.box:last-child {
    border-right: none;
}

.pro{
    padding: 0;
    margin: 0;
}

.pro h2 {
    padding: 20px;
}

.pro ul{
    padding-left: 20px;
    
}

.pro ul li{

    padding: 10px 0;
    border-bottom: 2px solid #000;
    list-style-type: none;
}
a {
  color: #0066cc;
  text-decoration: none;
}




.reviews {
  padding: 30px 20px;
}

.review-cards {
  margin: 20px ;
  display: flex;
  gap: 20px;
}

.card {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}

.card p:last-child {
  color: #888;
}

footer {
  text-align: center;
  padding: 20px;
}

img{
    max-width: 7%;
   
}

















